<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id = "app">
    <table class="table table-hover table-light table-bordered">
        <thead class="table-primary">
            <tr>
                <td class="w-25">全选 <input type="checkbox" v-model="checkAll" class="btn badge-light"></td>
                <td class="w-25">名称</td>
                <td class="w-25">价格</td>
                <td class="w-25">数量</td>
                <td class="w-25">小计</td>
                <td class="w-25">描述</td>
                <td class="w-25">操作</td>
            </tr>


        </thead>
        <tbody>
        <tr v-for="pro in products">
            <td><input type="checkbox" v-model="pro.isSelected" class="btn badge-light"></td>
            <td><img :src="pro.imgSrc" :title="pro.prodName" class="w-25">
                {{pro.prodName}}</td>
            <td>{{pro.prices}}</td>
            <td><input type="number" v-model.number="pro.counts" min="0" max="100"></td>
            <td>{{pro.counts*pro.prices |   toFixed(2)}} </td>
            <td>{{pro.info}}</td>
            <td><input type="button" class="btn btn-danger" @click="remove(pro)" value="删除"></td>
        </tr>
        <tr>
            <td colspan="7">总计：{{sum | toFixed(2)}} {{msg}}</td>
        </tr>
        </tbody>

    </table>

</div>
<script src="../node_modules/axios/dist/axios.js"></script>
<script src="../node_modules/vue/dist/vue.js"></script>


<script>
    let vm = new Vue({
        el:"#app",
        methods:{
            //删除购物车中的商品
            remove(pro){
               this.products =  this.products.filter(item => item !== pro);
            }
        },
        filters:{
            //管道过滤
            toFixed(input ,param){
                return "￥" + input.toFixed(param);
            }
        },
        computed:{//专门用于计算
            msg(){
              if (this.sum > 110){
                  return "too Large";
              }
              else{
                  return '';
              }
            },
            checkAll:{
                get(){
                    return this.products.every(item => item.isSelected);
                },
                set(val){
                    this.products.forEach(item => item.isSelected = val);
                }
            },
            sum:{

                get() {
                    return this.products.filter(item => item.isSelected)
                        .reduce((prex, next) => prex + next.counts * next.prices, 0)
                }
            }

        },
        created(){
          axios.get("./cars.json").then(resp =>{//成功回调
            console.log(resp);
            this.products = resp.data;
            console.log(this.products)
          },error => {//失败回调
            console.log(error)
          })
        },
        data:{
            products:[

            ]
        }
    })

</script>
</body>
</html>
